/* General Styling */
body {
    color: #563001;
    background: #debf8e;
}

code {
    border: 4px solid #563001;
    background: white;
}

input:hover, input:focus {
    border: 3px solid black;
    font-weight: bold;
}

p span {
    border-bottom: 1px solid black;
}

/* Tabpanel Formatting */
[role="tabpanel"] {
    border: 2px solid #b7b7b8;
    background: #d3d3d3;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  border: 2px solid #2474d6;
}

[role="tab"][aria-selected="false"] {
    border-bottom: 1px solid #b7b7b8;
}

[role="tab"][aria-selected="true"] {
    border-top-color: #2474d6;
    border-bottom-color: #fbfcfe;
    background: #fbfcfe;
    color: #563001;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  border: 1px solid #b7b7b8;
  border-bottom: 2px solid #b7b7b8;
  background: #edeff3;
  color: #563001;
}

/* Skills */
#skillRollers section {
    border: double #563001 4px;
}

[type="button"] {
    background: #563001;
    color: white;
}

/* Ability Table */

table, td, th {
    border: 1px solid #563001;
}

/* Light Switch Styles */
[role="switch"] {
  border: 0 solid #005a9c;
}

[role="switch"] .switch {
  border: 2px solid black;
}

[role="switch"] .switch span {
  border: 2px solid black;
  background: black;
}

[role="switch"][aria-checked="true"] .switch span {
  background: green;
  border-color: green;
}

[role="switch"]:focus,
[role="switch"]:hover {
  background-color: #def;
}

[role="switch"]:focus span.switch {
  background-color: white;
}
  
/* Footer Styles */
