/* General Styling */

main {
    width: 97%;
}

label {
    font-weight:bold;
}

li {
    margin: 5px;
    padding: 5px;
}

p {
    margin-bottom: 5px;
    display: block;
}

p span {
    padding: 5px;
}

label {
    margin: 5px;
}

code {
    display: block;
    min-height: 10px;
    min-width: 50px;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 2px;
}

input[type="button"] {
    min-width: 10px;
    min-height: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    padding: 5px;
}

select, input[type="text"] {
    padding: 5px;
}

.rollDiv {
    margin-left: 0;
    padding-left: 0;
}

main {
    padding: 10px;
    margin: 10px;
}

/* Skills Styles */
#skillRollers {
    display: flex;
    flex-wrap:wrap;
    align-content: start;
    justify-content: left;
}
  
#skillRollers section {
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 5px 10px;
    border-radius: 10px;
    width: 25%;
}

.rollStat {
    margin: 10px;
}

[role="status"] {
    padding-bottom: 10px;
}

/* Injuries */
#injuries-List label {
    min-width:200px;
}

/* Ability Table */
.mini-text {
    display: block;
    font-size: smaller;
    font-style: italic;
}

table, td, th {
    min-width: 80%;
    padding: 5px;
}
  
/* Footer Styles */
footer p {
    text-align: center;
    padding-bottom: 10px;
}